<div class="p-3">
    <div mat-dialog-title class=" d-flex align-items-center gap-2">
        <span class="fw-semibold fs-3">Change password</span>
        <img src="../../../assets/changePasswordIcon.png">
    </div>
    <hr class="m-0" />
    <div mat-dialog-content>
        <form [formGroup]="changeForm">
            <div class="mb-3">
                <label for="oldPasswordInput" class="fw-semibold">Old password<span style="color:red">
                        *</span></label>
                <div class="input-group">
                    <span class="input-group-text" id="addon-wrapping"><img
                            src="../../../assets/passwordIcon.png" /></span>
                    <input formControlName="oldPassword" type="password" class="form-control" id="oldPasswordInput"
                        placeholder="Your password" name="password" (blur)="onBlur(oldPassword)"
                        [ngClass]="{ 'is-invalid': (oldPassword.dirty || oldPassword.touched) && oldPassword.invalid }">
                </div>
                @if(oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)){
                <div class="text-danger">
                    Password is required!
                </div>
                }

            </div>

            <div class="mb-3">
                <label for="newPasswordInput" class="fw-semibold">New password<span style="color:red">
                        *</span></label>
                <div class="input-group">
                    <span class="input-group-text" id="addon-wrapping"><img
                            src="../../../assets/passwordIcon.png" /></span>
                    <input formControlName="password" type="password" class="form-control" id="newPasswordInput"
                        placeholder="New password" name="password" (blur)="onBlur(password)"
                        [ngClass]="{ 'is-invalid': (password.dirty || password.touched) && password.invalid }">
                </div>
                @if(password.invalid && (password.dirty || password.touched)){
                <div class="text-danger">
                    @if(password.errors?.['pattern'])
                    {
                    Password requires minimum 8 characters with at least one number and one
                    uppercase letter!
                    }
                    @else if(password.errors?.['required']){
                    Password is required!
                    }
                </div>
                }

            </div>

            <div class="mb-3">
                <label for="repeatPasswordInput" class="fw-semibold">Repeat password<span style="color:red">
                        *</span></label>
                <div class="input-group">
                    <span class="input-group-text" id="addon-wrapping"><img
                            src="../../../assets/passwordIcon.png" /></span>
                    <input formControlName="repeatPassword" type="password" class="form-control"
                        id="repeatPasswordInput" placeholder="Repeat new password" name="password"
                        (blur)="onBlur(repeatPassword)"
                        [ngClass]="{ 'is-invalid': (repeatPassword.dirty || repeatPassword.touched) && repeatPassword.invalid }">
                </div>
                @if((repeatPassword.invalid || changeForm.invalid) && (repeatPassword.dirty || repeatPassword.touched)){
                <div class="text-danger">
                    @if(repeatPassword.errors?.['pattern'])
                    {
                    Password requires minimum 8 characters with at least one number and one
                    uppercase letter!
                    }
                    @else if(repeatPassword.errors?.['required']){
                    Password is required!
                    }
                    @else if(!oldPassword.invalid && !password.invalid && !repeatPassword.invalid &&
                    changeForm.invalid){
                    Passwords do not match!

                    }

                </div>
                }

            </div>
        </form>


    </div>
    <hr class="m-0" />
    <div mat-dialog-actions class="d-flex justify-content-center gap-3">
        <button [disabled]="changeForm.invalid" class="btn btn-success fw-semibold" (click)="onSubmit()">Change</button>
        <button class="btn btn-danger fw-semibold" mat-dialog-close>Cancel</button>

    </div>
</div>