<div class="ccontainer">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#3050c5">
        <div class="container-fluid">

            <a class=" centerIconText navbar-brand text-light fs-3 fw-bold" routerLink="" routerLinkActive="active"><img
                    src="../../assets/fitnessIcon.png" style="width:56px; height: 56px;" />Online
                Fitness</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class=" offcanvas offcanvas-end" style="background-color:rgba(28,131,224,0.9)" tabindex="-1"
                id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h4 class="offcanvas-title text-light text-center" id="offcanvasNavbarLabel">Menu</h4>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav  justify-content-end fs-5 fw-semibold flex-grow-1 pe-3">
                        <li class="nav-item mx-1">
                            <a class="nav-link  centerIconText" aria-current="page" routerLink="/fitness-news"
                                routerLinkActive="active"><img src="../../assets/newsIcon.png" />Fitness news</a>
                        </li>
                        @if(isLoggin)
                        {
                        <li class="nav-item mx-1">
                            <a class="nav-link  centerIconText" routerLink="/exercises" routerLinkActive="active"><img
                                    src="../../assets/jumpIcon.png" />Exercises</a>
                        </li>
                        }
                        <li class="nav-item mx-1">
                            <a class="nav-link centerIconText" routerLink="/programs" routerLinkActive="active"><img
                                    src="../../assets/fitnessProgramIcon.png" />Programs</a>
                        </li>
                        @if(isLoggin){
                        <li class="nav-item mx-1">
                            <a class="nav-link centerIconText" routerLink="/my-programs" routerLinkActive="active"><img
                                    src="../../assets/myProgramsIcon.png" />My
                                programs</a>
                        </li>
                        }
                        @if(isLoggin){
                        <li class="nav-item mx-1">
                            <a class="nav-link centerIconText" routerLink="/chat" routerLinkActive="active"><img
                                    src="../../assets/chatIcon.png" />Chat</a>
                        </li>
                        }
                        @if(isLoggin){
                        <li class="nav-item mx-1">
                            <a class="nav-link centerIconText" routerLink="/subscriptions"
                                routerLinkActive="active"><img src="../../assets/subsIcon.png" />Subscriptions</a>
                        </li>
                        }
                        @if(isLoggin){
                        <li class="nav-item mx-1">
                            <a class="nav-link centerIconText" routerLink="/my-activity" routerLinkActive="active"><img
                                    src="../../assets/activityIcon.png" />My activity</a>
                        </li>
                        }

                    </ul>
                    <div id="navRight"
                        class="d-flex flex-column flex-lg-row justify-content-center align-items-center gap-3 fs-5 fw-bold text-light">
                        @if(isLoggin){
                        <a routerLink="/profile" routerLinkActive="active"><img matTooltip="My profile"
                                [src]="showImage()" class="rounded-circle" style="width: 38px; height: 38px;"
                                alt="Avatar" /></a>}
                        <button [matTooltip]="isLoggin?'logout':'login'" (click)="logClick()"
                            class="btn btn-warning fw-semibold centerIconText">
                            @if(!isLoggin)
                            {
                            <img src="../../assets/getStartedIcon.png" />Get started
                            }
                            @else {
                            <img src="../../assets/logoutIcon.png" />Logout
                            }
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="custom-background  p-md-4 p-2">
        <router-outlet></router-outlet>
    </div>
</div>