.custom-background{
  
    background-image: linear-gradient(to right bottom, #ffffff, #f2f2f3, #e4e6e6, #d7dad8, #cccdca);
    height: 100%;
}

.textImageCenter{
    display:flex;
    align-items: center;
    gap:10px;
}

.title{
    font-size:48px;
    color:#1e90ff
}