<div class="textImageCenter justify-content-center w-100 ">
    <span class="fw-bold font-italic m-0 title">My fitness programs</span>
    <img src="../../assets/gymnasticsIcon.png" style="width:48px; height: 48px;">
</div>

<ul class="nav  nav-tabs d-flex">
    <li class="nav-item">
        <a class="nav-link active  " aria-current="page">Created</a>
    </li>
    <li class="nav-item ">
        <a class="nav-link">Current</a>
    </li>
    <li class="nav-item">
        <a class="nav-link">Finished</a>
    </li>
</ul>


<div class="container-fluid mt-4">
    <div class="row gy-3 gx-5">
        <div class="col-md-6 col-lg-6 col-xxl-3">
            <app-fitness-program-card [program]="program"></app-fitness-program-card>
        </div>
        <div class="col-md-6 col-lg-6 col-xxl-3">
            <app-fitness-program-card [program]="program"></app-fitness-program-card>
        </div>
        <div class="col-md-6 col-lg-6 col-xxl-3">
            <app-fitness-program-card [program]="program"></app-fitness-program-card>
        </div>
        <div class="col-md-6 col-lg-6 col-xxl-3">
            <app-fitness-program-card [program]="program"></app-fitness-program-card>
        </div>
        <div class="col-md-6 col-lg-6 col-xxl-3">
            <app-fitness-program-card [program]="program"></app-fitness-program-card>
        </div>
        <div class="col-md-6 col-lg-6 col-xxl-3">
            <app-fitness-program-card [program]="program"></app-fitness-program-card>
        </div>
        <div class="col-md-6 col-lg-6 col-xxl-3">
            <app-fitness-program-card [program]="program"></app-fitness-program-card>
        </div>
    </div>
</div>