<div class="textImageCenter w-100 ">
    <span class="fw-bold font-italic m-0 title">Daily Exercises</span>
    <img src="../../assets/gymnasticsIcon.png" style="width:48px; height: 48px;">
</div>
<div class="d-flex gap-2">
    <div>
        <label for="muscleSelect" class="fw-semibold">Muscle group</label>
        <select class="form-select w-10" id="muscleSelect" aria-label="Default select example">
            <option selected>Select muscle group</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div>
        <label for="muscleSelect1" class="fw-semibold">Difficulty </label>
        <select class="form-select w-10" id="muscleSelect1" aria-label="Default select example">
            <option selected>Select difficulty</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
</div>

<div class="container mt-4">
    <div class="card p-0 shadow border-0 ">
        <div class="card-header rounded-3 shadow fw-semibold text-light fs-4 " style="background-color: #1e90ff">
            <span>Standing behind-the-back wrist curl</span>
            <button data-bs-toggle="collapse" data-bs-target="#collapseCategory" class="btn btn-danger">Click
                me</button>

        </div>
        <div class="collapse" id="collapseCategory">
            <div class="card-body">
                <h5 class="card-title fs-5 fw-semibold textImageCenter gap-1">Description<img
                        src="../../assets/infoIcon.png">
                </h5>
                <p class="card-text text-secondary">Start by standing straight and holding a barbell behind your glutes
                    at
                    arm's
                    length while using a pronated grip (palms will be facing back away from the glutes) and having your
                    hands
                    shoulder width apart from each other. You should be looking straight forward while your feet are
                    shoulder
                    width apart from each other. This is the starting position. While exhaling, slowly elevate the
                    barbell
                    up by
                    curling your wrist in a semi-circular motion towards the ceiling. Note: Your wrist should be the
                    only
                    body
                    part moving for this exercise. Hold the contraction for a second and lower the barbell back down to
                    the
                    starting position while inhaling. Repeat for the recommended amount of repetitions. When finished,
                    lower
                    the
                    barbell down to the squat rack or the floor by bending the knees. Tip: It is easiest to either pick
                    it
                    up
                    from a squat rack or have a partner hand it to you. Variations: You can also perform this exercise
                    with
                    dumbbells using the same movements as described above. Another option is to use one dumbbell at a
                    time
                    for
                    better isolation.</p>
                <div class="d-flex justify-content-between">

                    <span class="textImageCenter fw-semibold fs-5">beginner<img
                            src="../../assets/categIcon.png" /></span>
                </div>
            </div>
        </div>
    </div>
</div>