.title{
    font-size:48px;
    color:#1e90ff
}

.textImageCenter{
    display:flex;
    align-items: center;
    gap:10px;
    justify-content: center;
}

#selects{
    justify-content:end;
}

@media screen and (max-width:500px) {
    #selects{
        justify-content: center !important;
    }
    
}