<div class="textImageCenter w-100 ">
    <span class="fw-bold font-italic m-0 title">Daily Exercises</span>
    <img src="../../assets/gymnasticsIcon.png" style="width:48px; height: 48px;">
</div>

<div id="selects" class="d-flex gap-4">
    <div>
        <label for="muscleSelect" class="fw-semibold">Muscle group</label>
        <select [formControl]="muscle" (change)="onChange()" class="form-select w-10" id="muscleSelect"
            aria-label="Default select example">
            <option hidden selected value="default">Select muscle group</option>
            @for(m of muscleSelect; track $index){
            <option [value]="m.value">{{m.label}}</option>
            }
        </select>
    </div>
    <div>
        <label for="muscleSelect1" class="fw-semibold">Difficulty </label>
        <select [formControl]="level" (change)="onChange()" class="form-select w-10" id="muscleSelect1"
            aria-label="Default select example">
            <option hidden selected value="default">Select difficulty</option>
            @for(m of levelSelect; track $index){
            <option [value]="m.value">{{m.label}}</option>
            }

        </select>
    </div>
</div>
<hr />


<div class="container mt-4">
    <div class="row gy-3">
        @for(e of exercises; track e.name; let idx = $index){
        <div class="card p-0">
            <div class="card-header m-0 p-3 text-light" style="background-color: #1e90ff">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center gap-md-4 gap-sm-2">
                        <a role="button" data-bs-toggle="collapse" [href]="'#'+idx">
                            <img src="../../assets/downIcon1.png" />
                        </a>
                        <h4
                            class="card-title fw-semibold d-flex m-0 align-items-center justify-content-between text-light">
                            {{e.name}}
                        </h4>
                    </div>

                    <span class="badge  fw-semibold fs-5 text-uppercase" [ngClass]="{'text-bg-success':e.difficulty==='beginner',
                        'text-bg-warning':e.difficulty==='intermediate',
                        'text-bg-danger':e.difficulty==='expert'
                    
                    }">{{e.difficulty}}</span>

                </div>

            </div>
            <div class="collapse" [id]="idx">
                <div class="card-body">
                    <h5 class="card-title fs-5 fw-semibold d-flex align-items-center gap-1">Description<img
                            src="../../assets/infoIcon.png">
                    </h5>
                    <p class="card-text text-secondary">{{e.instructions}}</p>
                </div>
            </div>
        </div>
        }

    </div>
</div>