<div class="card" style="min-height:380px">
    <img class="img-fluid bgimg" src="../../../assets/cardTempImage.jpg" class="card-img-top img-fluid" alt="..."
        style="height:200px">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <span class="badge text-bg-primary fs-6 p-2">{{program?.category}}</span>
            <span class="badge text-bg-warning text-light fs-6">{{program?.difficulty}}</span>
        </div>
        <p class=" fw-semibold fs-4 m-0">{{program?.name}}</p>
        <p class="fw-semibold text-secondary fs-5">{{program?.price}}KM</p>

        <div class="d-flex justify-content-between">
            <div matTooltip="Delete program" class="btn btn-outline-danger fw-semibold textImageCenter ">Delete <img
                    src="../../../assets/deleteIcon.jpeg" style="width: 24px; height: 24px;">
            </div>
            <a [routerLink]="['/fitness-program',program?.id]" matTooltip="View program details"
                class="btn btn-outline-success  fw-semibold textImageCenter">View
                details <img src="../../../assets/viewDetailsIcon.png"></a>
        </div>
    </div>
</div>