.textImageCenter{
    display:flex;
    align-items: center;
    gap:10px;
}

.card:hover>img{
    filter: blur(3px); 
  transition: filter 0.3s ease;
}

.card:hover{
    cursor: pointer;
}

.card{
    transition: filter 0.3s ease;
}

.card:hover {
    transform: scale(1.02);
  }