/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snackbar-success {
    .mdc-snackbar__surface {
      background-color: #198754 !important;
    }
  }

  .snackbar-unsuccess {
    .mdc-snackbar__surface {
      background-color: #dc3545 !important;
    }
  }
