<div class="textImageCenter justify-content-center w-100 ">
    <span class="fw-bold font-italic m-0 title">My activities</span>
    <img src="../../assets/activityLogoIcon.png" style="width:48px; height: 48px;">
</div>

<div class="container mt-3">
    <div class="row ">
        <div class="d-flex justify-content-end">
            <a matTooltip="Download client activity report"
                class="btn btn-outline-primary fw-semibold fs-5 textImageCenter" target="_blank"
                [href]="downloadUrl">Download PDF<img src="../../assets/pdfIcon.png" /></a>
        </div>
    </div>
    <div class="row mt-2">
        <div class="card p-0">
            <div class="card-header d-flex justify-content-between align-items-center text-light fw-semibold fs-4 p-3"
                style="background-color: #1e90ff">
                <div>
                    Activity history
                </div>
                <button matTooltip="Add new activity" class="btn btn-success textImageCenter fw-semibold "
                    (click)="addNewActivity()">Add
                    activity<img src="../../assets/addButton.jpeg" /></button>
            </div>
            <div class="card-body p-0 activityMaxHeight">
                <ul class="list-group list-group-flush">
                    @for (item of activities; track $index) {
                    <li class="list-group-item d-flex flex-column flex-md-row justify-content-between gap-2 ">
                        <div class="d-flex align-items-center gap-2 gap-md-4 flex-column flex-md-row">


                            <span class="fw-semibold fs-5 ">{{item.name}}</span>
                            <div class="d-flex gap-2 align-items-center ">
                                <span class="badge text-bg-warning fs-6 p-2 fw-semibold">Sets:{{item.sets}}</span>
                                <span class="badge text-bg-danger p-2 fs-6 fw-semibold">Reps:{{item.reps}}</span>
                                <span class="badge text-bg-success p-2 fs-6 fw-semibold">Weight:{{item.weight}}</span>
                            </div>

                        </div>
                        <div class="d-flex gap-2 flex-column flex-md-row align-items-center">
                            <span class="fw-semibold">{{item.createdAt|date}}</span>
                            <a matTooltip="Delete activity" (click)="deleteActivity(item)"><img
                                    src="../../assets/deleteIcon.jpeg" /></a>
                        </div>
                    </li>
                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="card p-0">
            <div class="card-header d-flex justify-content-between align-items-center text-light fw-semibold fs-4 p-3"
                style="background-color: #1e90ff">
                <div>
                    Body weight history
                </div>
                <button matTooltip="Add new measurement" class="btn btn-success textImageCenter fw-semibold "
                    (click)="addNewBodyweight()">Add
                    weight<img src="../../assets/addButton.jpeg" /></button>
            </div>
            <div class="card-body p-0 ">
                <div class="d-flex justify-content-center justify-content-md-end gap-3 mt-2 mb-2">
                    <div>
                        <label for="startDate" class="fw-semibold">Stard date</label>
                        <input [formControl]="startDate" type="date" class="form-control " id="startDate"
                            (change)="loadBodyWeightStatistic()" name="startDate" />
                    </div>
                    <div>
                        <label for="endDate" class="fw-semibold">End date</label>
                        <input [formControl]="endDate" type="date" class="form-control " id="endDate" name="endDate"
                            (change)="loadBodyWeightStatistic()" />
                    </div>
                </div>
                <hr class="mt-1" />
                <app-area-chart [statistics]="statistics"></app-area-chart>
            </div>
        </div>
    </div>
</div>